<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1067961968697-hdapv6t87rfk00hvf1b2csapubr9h957.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1067961968697-hdapv6t87rfk00hvf1b2csapubr9h957</string>
	<key>API_KEY</key>
	<string>AIzaSyDvoI92vO6t1VI1-gz8uqWWDJ6T1rT7WJ0</string>
	<key>GCM_SENDER_ID</key>
	<string>1067961968697</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebase-workshop</string>
	<key>PROJECT_ID</key>
	<string>fir-workshop-8801d</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-workshop-8801d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1067961968697:ios:ef7896af72739f1b7185e8</string>
</dict>
</plist>